.centered {
  position: relative; /* or absolute */
  top: 15%;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.container{
    padding:5%;
}
.container .img{
    text-align:center;
}
.container .details{
    border-left:3px solid #ded4da;
}
.container .details p{
    font-size:15px;
    font-weight:bold;
}

.container-fluid {
  color: black;
  text-decoration-color: black;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}

.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
    border-radius:3px;
    margin-top: 0px;
}
