{% load static %}
<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/css/bootstrap-slider.css">
        {% block header %}
        {% endblock header %}

    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Travel Plan</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/logout/">Logout</a>
                </li>
                {% endif %}
                </ul>
                {% if user.is_authenticated %}
                <div>
                    <span class="navbar-text">
                    {{ user.username }}
                    </span>
                </div>
                {% else %}
                <ul class="navbar-nav float-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/signup/">Sign up</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </nav>
        {% block content %}
        {% endblock content %}

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/bootstrap-slider.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

        <script>
            var slider1 = new Slider('#ex1', {
                    tooltip: 'always'
            });
            var slider2 = new Slider('#ex2', {
                    tooltip: 'always'
            });
        </script>
    </body>
</html>
