{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm" action="/search" method="get" >
                {% csrf_token %}
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input
                            name="{{ search_form.q.name }}"
                            required
                            class="form-control form-control-lg form-control-borderless"
                            type="search"
                            placeholder="Search topics or keywords"
                            id="{{ search_form.q.id }}"
                        >
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>
</div>

{% for destination in destinations %}
    {{  destination.name  }}
{% endfor %}

{% endblock content %}
